body {
  font-family: 'Roboto Serif', serif;
  max-width: 800px;
  margin: auto;
}

header {
  background-color: dodgerblue;
  padding: 20px;
  text-align: center;
}

header h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 48px;
  color: whitesmoke;
}

header h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 24px;
  color: whitesmoke;
  font-style: italic;
}

main {
  font-size: 20px;
}

main h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 32px;
  color: dodgerblue;
}
